<link rel="stylesheet" href="/stylesheets/header.css">
<header>
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark px-2" style="background-color:#16A5AD;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" style="font-weight:900;"><i class="fas fa-ghost fs-4"
          style="color:white;"></i><span style="margin-left: 8px;">IG抽起來</span> </a>
      <button class=" navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        {{#if isAuthenticated}}
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link" href="/post">選擇貼文</a>
            </li>
          </ul>
          {{#if user}}
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a href="/auth/logout">
                  <i class="btn-logout fas fa-key btn"></i>
                </a>
              </li>
            </ul>
          {{/if}}
        {{else}}
          <ul class="navbar-nav ms-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a href="/auth/facebook">
                <i class="btn-login fas fa-key btn btn-secondary"></i>
              </a>
            </li>
          </ul>
        {{/if}}
      </div>
    </div>
  </nav>
</header>