.img {
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 55%, 55%;
  border-radius: 30px;
}

.btn-info,
.btn-danger {
  width: 60%;
  display: block;
  max-width: 350px;
}

.count {
  width: 60%;
}
