.img {
  width: 120px;
  height: 120px;
  background-position: center;
  border-radius: 30px;
}

.btn-draw,
.btn-post,
.btn-auth {
  width: 60%;
  display: block;
  max-width: 350px;
  font-weight: 600;
}
.btn-draw,
.btn-post {
  background-color: #16a5ad;
  border: 1px solid #16a5ad;
  color: white;
}
.btn-draw:hover,
.btn-post:hover {
  background-color: #0d7281;
  border: 1px solid #0d7281;
  color: white;
}
.btn-auth {
  background-color: #fd7b13;
  border: 1px solid #fd7b13;
  color: white;
}
.btn-auth:hover {
  background-color: #fd943e;
  border: 1px solid #fd943e;
  color: white;
}

.count {
  width: 60%;
  font-weight: 900;
}

.item-name,
.item-num {
  width: 100%;
}

#btn-add,
#btn-delete {
  font-size: 20px;
  width: 30px;
  height: 30px;
  margin: 0px;
  padding: 0px;
  font-weight: 900;
  position: relative;
}

#btn-add span,
#btn-delete span {
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translate(-50%, -2px);
}

legend {
  font-weight: 600;
}

thead,
tbody {
  color: #032f38;
}

/* 刷新留言 */
.fa-redo{
  color: #16a5ad;
}
.fa-redo:hover{
  color: #0d7281;
}

/* 選擇貼文 */
.post-form{
  top:-30px;
}
.fa-angle-left {
  font-size: 30px;
  color: #16a5ad;
}

.fa-angle-left:hover {
  color: #0d7281;
}