#circularG {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 45px;
  height: 45px;
  margin: auto;
  z-index: 999; 
transform: translate(-50%,-50%); 
}

.circularG {
  position: absolute;
  background-color: #16a5ad;
  width: 10px;
  height: 10px;
  border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  animation-name: bounce_circularG;
  -o-animation-name: bounce_circularG;
  -ms-animation-name: bounce_circularG;
  -webkit-animation-name: bounce_circularG;
  -moz-animation-name: bounce_circularG;
  animation-duration: 0.428s;
  -o-animation-duration: 0.428s;
  -ms-animation-duration: 0.428s;
  -webkit-animation-duration: 0.428s;
  -moz-animation-duration: 0.428s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
}

#circularG_1 {
  left: 0;
  top: 18px;
  animation-delay: -0.382s;
  -o-animation-delay: -0.382s;
  -ms-animation-delay:  -0.382s;
  -webkit-animation-delay:  -0.382s;
  -moz-animation-delay:  -0.382s;
}

#circularG_2 {
  left: 4px;
  top: 4px;
  animation-delay: -0.326s;
  -o-animation-delay: -0.326s;
  -ms-animation-delay: -0.326s;
  -webkit-animation-delay: -0.326s;
  -moz-animation-delay: -0.326s;
}

#circularG_3 {
  top: 0;
  left: 18px;
  animation-delay: -0.27s;
  -o-animation-delay: -0.27s;
  -ms-animation-delay: -0.27s;
  -webkit-animation-delay: -0.27s;
  -moz-animation-delay: -0.27s;
}

#circularG_4 {
  right: 4px;
  top: 4px;
  animation-delay: -0.214s;
  -o-animation-delay: -0.214s;
  -ms-animation-delay: -0.214s;
  -webkit-animation-delay: -0.214s;
  -moz-animation-delay: -0.214s;
}

#circularG_5 {
  right: 0;
  top: 18px;
  animation-delay: -0.158s;
  -o-animation-delay: -0.158s;
  -ms-animation-delay: -0.158s;
  -webkit-animation-delay: -0.158s;
  -moz-animation-delay: -0.158s;
}

#circularG_6 {
  right: 4px;
  bottom: 4px;
  animation-delay: -0.112s;
  -o-animation-delay: -0.112s;
  -ms-animation-delay: -0.112s;
  -webkit-animation-delay: -0.112s;
  -moz-animation-delay: -0.112s;
}

#circularG_7 {
  left: 18px;
  bottom: 0;
  animation-delay: -0.056s;
  -o-animation-delay: -0.056s;
  -ms-animation-delay: -0.056s;
  -webkit-animation-delay: -0.056s;
  -moz-animation-delay: -0.056s;
}

#circularG_8 {
  left: 4px;
  bottom: 4px;
  animation-delay: 0s;
  -o-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
}



@keyframes bounce_circularG {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(.3);
  }
}

@-o-keyframes bounce_circularG {
  0% {
    -o-transform: scale(1);
  }

  100% {
    -o-transform: scale(.3);
  }
}

@-ms-keyframes bounce_circularG {
  0% {
    -ms-transform: scale(1);
  }

  100% {
    -ms-transform: scale(.3);
  }
}

@-webkit-keyframes bounce_circularG {
  0% {
    -webkit-transform: scale(1);
  }

  100% {
    -webkit-transform: scale(.3);
  }
}

@-moz-keyframes bounce_circularG {
  0% {
    -moz-transform: scale(1);
  }

  100% {
    -moz-transform: scale(.3);
  }
}